
body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;

}

.header {
    display: flex;
    background-color: #1f2937;
    height: 72px;
}

.logo {
    margin-left: 200px;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-links {
    margin-left: auto;
    margin-right: 200px;
    display: flex;
    padding: 10px;
    gap: 20px;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 16px;
}

.footer {
    margin-top: auto;
    flex: 0 0 auto;
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;


}

.contents {
    display: flex;
    flex-direction: column;
}

.main {
    height: 300px;
    box-sizing: border-box;
}


.two, .four {
background-color: white;
}

.three {
    background-color: #e5e7eb;

}

.main.one {
    display: flex;
    padding: 50px 200px 80px;
    
    
}

.sub{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
}

p {
    color: #e5e7eb;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    font-size: 14px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #f9faf8;
    border: 0;
    border-radius: 8px;


}

.sub.one {
    padding-right: 20px;
}

.sub.two {
    justify-content: center;
    align-items: center;
    background-color: #616b72;
    color: #f9faf8;
}

.main.two {
    padding-left: 250px;
    padding-right: 250px;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    font-weight: bolder;
    padding: 28px;
}

.captions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 8px;
}

.image {
    width: 100px;
    height: 100px;
    border-color: #3882f6;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
}

.caption-text {
    font-size: 12px;
    text-align: center;
    
}